<ul class="menu">
    <li>
        <a href="{% url 'main' %}" {% if request.resolver_match.url_name == 'main' %}class="active"{% endif %}>домой</a>
    </li>
    <li>
        <a href="{% url 'products:index' %}" {% if request.resolver_match.namespace == 'products' %}class="active"{% endif %}>продукты</a>
    </li>
    <li>
        <a href="{% url 'contacts' %}" {% if request.resolver_match.url_name == 'contacts' %}class="active"{% endif %}>контакты</a>
    </li>
    
    {% if user.is_authenticated %}
        <li>
            <a href={% url 'auth:edit' %}>
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
    {% endif %}

    {% if user.is_superuser %}
        <li>
            <a href={% url 'admin:users' %}>
                админка
            </a>
        </li>
    {% endif %}


    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:logout' %}">выход</a>
    {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        </li>
    {% endif %}
</ul>
