basketapp/__pycache__/
basketapp/migrations/__pycache/
authapp/__pycache__/
authapp/migrations/__pycache__/
mainapp/__pycache__/
mainapp/migrations/__pycache__/
mainapp/management/commands/__pycache__/
adminapp/__pycache__/
adminapp/migrations/__pycache/
geekshop/__pycache__/
geekshop/vk.json
.idea/
.vscode/
