{% extends 'mainapp/base.html' %}
{% block menu %}
		<div class="hero">
			{% include 'mainapp/includes/inc_header.html' %}
			<h1>наши контакты</h1>
		</div>
{% endblock %}
{% block content %}
		<div class="location">
			{% for addr in address %}
				<div class="location-1">
					<i class="fa fa-map-marker fa-5x"></i>
					<h4>{{ addr.city }}</h4>
					<div class="contacts">
						<h5>Телефон</h5>
						<p>{{ addr.phone }}</p>
					</div>
					<div class="contacts">
						<h5>Email</h5>
						<p>{{ addr.email }}</p>
					</div>
					<div class="contacts">
						<h5>Адрес</h5>
						<p>{{ addr.locat }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
{% endblock %}
